mixin videoBlock(video = {})
    .videoBlock
        a(href=routes.videoDetail(video.id))    
            video.videoBlock__thumpnail(controls=true, src=video.fileUrl)
            h4.videoBlock__title=video.title
            h4.videoBlock__views=video.views